.usersContainer {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-wrapper {
    width: 80%;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 7px 1px;
    max-height: 410px;
    overflow-y: auto;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    border: none !important;
    transition: background-color .25s;
}

.list-group-item svg {
    margin: .35em;
}

.list-group-item > div {
    width: 20%;
}

.item {
    color: black;
    list-style: none;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: rgb(211, 211, 211);
}

.createUserButton {
    align-self: center;
}

#createUserModal .modal-content, #editUserModal .modal-content {
    height: 500px;
}

#createUserModal .form-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#createUserModal .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#createUserModal .modal-header {
    padding: 1rem;
    padding-bottom: 0;
}

#editUserModal .form-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editUserModal .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#editUserModal .modal-header {
    padding: 1rem;
    padding-bottom: 0;
}

.createButton {
    margin-top: 1rem;
}

.editUser, .delUser {
    padding: 0 .2rem;
    margin-left: .5rem;
}

.userName > svg {
    margin-left: 0;
}

.editUser svg, .delUser svg{
    pointer-events: none;
}

.load {
    margin: .35rem 0;
}

.load span, .userName span {
    vertical-align: middle;
}

.noUsers {
    align-self: center;
}

.list-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid !important;
}

#teacherPrincipalYaer, #teacherGroupGuide {
    font-size: large;
}

.form-switch {
    color: black;
    padding-left: 3.5em;
    margin: 0;
}

.form-check-label {
    vertical-align: middle;
}

.userName {
	margin-right: 10%;
}

.userYear {
	margin-right: 8%;
}

.userGroup {
	margin-right: 5%;
}

.load {
    min-width: 30%;
}
.userActions {
	display: flex;
	justify-content: end;
}